<br>
<br>
<button mat-raised-button color="accent" routerLink="/"> Home </button>
<br>



<br>
<button mat-raised-button color="accent" routerLink="/customer-addorder"> Add Order </button>
<br>
<br>
<button mat-raised-button color="accent"> My Orders </button>
<br>
<br>
<button mat-raised-button color="accent"> Car Details </button>
<br>
<br>
<button mat-raised-button color="accent" routerLink="/customer-viewwashpack"> View Washpacks </button>
<br>
<br>
<button mat-raised-button color="accent" routerLink="/aboutus"> About Us </button>
<br>
<br>
<button mat-raised-button color="accent" routerLink="/contact"> Contact Us </button>



