<mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" routerLink="/"></mat-icon>
    <span style="color: aquamarine; position: relative; left: 2cm; font-family: 'Quicksand', sans-serif; font-stretch: expanded;"><b>G R E E N&nbsp;&nbsp;&nbsp;W A S H</b></span>
    <span></span>
    <span class="space"></span>
    
    
    <a style="margin: 0.5em" mat-raised-button color="accent" routerLink="/admin-register">Admin Register</a>
    <a style="margin: 0.5em" mat-raised-button color="accent" routerLink="/customer-register">Customer Register</a>
    <a style="margin: 0.5em" mat-raised-button color="accent" routerLink="/washer-register">Washer Register</a>
    
  </mat-toolbar>

  