<br>
<br>
<button mat-raised-button color="accent" routerLink="/"> Home </button>
<br>
<br>
<button mat-raised-button color="accent" routerLink="/admin-addwashpack"> Add Washpack </button>
<br>
<br>
<button mat-raised-button color="accent"> All Users </button>
<br>
<br>
<button mat-raised-button color="accent"> All Washers </button>
<br>
<br>
<button mat-raised-button color="accent" routerLink="/admin-viewwashpack"> View Washpacks </button>
<br>
<br>
<button mat-raised-button color="accent" routerLink="/aboutus"> About Us </button>
<br>
<br>
<button mat-raised-button color="accent" routerLink="/contact"> Contact Us </button>




